
$primary-color: #1A1A1C;
$secondary-color: #EAEAED;

//フォントInter定義
@mixin InterFont($f-size, $f-weight) {
  font-family: "Inter", serif;
  font-size: $f-size;
  font-weight: $f-weight;
}

body {
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-underline-position: from-font;
  letter-spacing: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

//本文の位置: 画面中央揃え:section2~footer
.center-container  {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1024px) {
  .center-container {
    max-width: 944px;
  }
}

// header
header {
  height: 38px;
  padding: 32px 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100% - 80px);
  z-index: 200;
  background-color: #FFFFFF;

  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;

      .li-list {
        margin-right: 32px;
      }

      a {
        @include InterFont(16px, 500);
        position: relative;
        top: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 22px;
        letter-spacing: 0;
      }
    }
  }
}
  //ヘッダーロゴ（フッダーでも再使用）
  .logo {
    @include InterFont(24px, bold);
    position: relative;
    top: 5px;
    text-align: center;
    letter-spacing: -0.29px;
  }
  //header内navのcontact
  .li-contact {
    width: 118px;
    height: 35px;
    border: 1px solid $secondary-color;

  }
  .a-contact{
    font-size: 14px;
    padding: 0;
    margin-right: 0px;
  }


//FV section1

.section1 {
  margin-top: 102px;
  position: relative;
  height: 644px;
  width: 100%;
  overflow: hidden;
}
.main-container {
  display: flex;
  margin: 40px 0 0 40px;
  align-items: center;
}
.main-msg {
  width: 493px;
  height: 390px;
}

.main-msg h1 {
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: -1px;
}

.main-msg p {
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0;
  margin: 16px 0 38px 0;
}

.contact-link{
  width: 256px;
  height: 58px;
  border: 1px solid $secondary-color;
  position: relative;
}

.contact-link a {
  @include InterFont(16px, 600);
  line-height: 26px;
  letter-spacing: 0;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 88.5px;
}

.mainPic-container {
  width: 843px;
  height: 500px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  background-color: #D8D8DB;
  margin-left: 64px;
}

.mainPic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mainPic-msg {
  @include InterFont(120px, 700);
  color: $secondary-color;
  line-height: 100%;
  letter-spacing: 5.6px;
  margin: 0;
  position: relative;
  top: -106px;
  left: 420px;
  height: 120px;
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .section1 {
    height: 613px;
  }
  .main-container {
    margin: 0 0 0 40px;
  }
  .main-msg h1 {
    font-size: 48px;
  }
  .mainPic-container {
    width: 573px;
    height: 573px;
    margin-left: 20px;
    overflow: hidden;
  }
  .mainPic-msg {
    font-size: 90px;
    width: 464px;
    white-space: wrap;
    letter-spacing: 0;
    top: -170px;
    left: 49.5%;
  }
}




//section2
.section2 {
  height: 696px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
}

.section2-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img1-container {
  width: 488px;
  height: 488px;
  overflow: hidden;
}
.img1-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-desc {
  max-width: 480px;
  min-height: 288px;
}

.service-desc h2 {
  @include InterFont(58px, bold);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  line-height: 100%;
  width: 243px;
  height: 87px;
}

.subtitle {
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0;
  margin: 0 0 40px 0;
}

.subtitle span {
  display: inline-block;
  width: 32px;
  height: 1px;
  background-color: $primary-color;
  margin-right: 8px;
  vertical-align: middle;
}

.desc {
  padding-top: 40px;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .section2 {
    height: 670px;
  }

  .section2-container {
    display: flex;
    justify-content: space-evenly;
  }

  .img1-container {
    width: 430px;
    height: 430px;
    overflow: hidden;
  }

  .service-desc {
    max-width: 462px;
    height: auto;
  }

  .desc {
    padding-top: 40px;
    overflow-wrap: break-word;
    max-width: 462px;
    min-height: 123px;
  }
}


//section3
.section3 {
  height: 853px;
  display: flex;
  align-items: center;
}
.article1 {
  width: 336px;
}

.article2, .article3 {
  width: 312px;
}

.client-container {
  display: flex;
  justify-content: space-between;
}

.title-contents {
  padding: 0;
  margin: 0 0 64px 0;
}

.title-contents h2 {
  @include InterFont(58px, 700);
  color: $primary-color;
  margin: 0;
  width: 204px;
  height: 87px;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 170%;
}

.subtitle span {
  display: inline-block;
  width: 32px;
  height: 1px;
  background-color: $primary-color;
  margin-right: 8px;
  vertical-align: middle;
}

.img-container1 {
  width: 336px;
  height: 160px;
  overflow: hidden;
  padding: 0;
}

.img-container2, .img-container3 {
  width: 312px;
  height: 160px;
  overflow: hidden;
  padding: 0;
}

.img-container1 img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.img-container2 img, .img-container3 img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  margin: 16px 0;
}

.badge-content {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.client-desc {
  white-space: wrap;
  font-size: 18px;
  margin: 0;
  line-height: 170%;
}

.client-desc-center {
  white-space: wrap;
  font-size: 18px;
  font-weight: 500;
  width: 312px;
  margin: 0;
  line-height: 30.6px;
}

.client-name {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 0 0;
}

// @media (max-width: 1024px) {
//   .section3 {
//     height: 1345px;
//     width: 1024px;
//     width: 641px;
//   }
//   .client-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-items: start;
//   }
//   .article1, .article2, .article3 {
//     max-width: 462px;
//     min-width: 300px;
//   }
//   .img-container1, .img-container2, .img-container3 {
//     max-width: 462px;
//     min-width: 300px;
//     height: 221px;
//   }
// }


//section4
.section4 {
  background-color: $secondary-color;
  height: 859px;
}

.contact-content {
  width: 700px;
  margin: 0 auto;
}

.contact-title {
  text-align: center;

    h2 {
      @include InterFont(58px, 700);
      color: #FFFFFF;
      margin: 0;
      padding-top: 104px;
      line-height: 150%;
    }

    p {
      font-size: 22px;
      padding-bottom: 20px;
      line-height: 170%;
      margin: 0 0 40px 0;
      padding: 0;
    }
}

.form p {
  font-size: 14px;
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 150%;
  letter-spacing: 4%;
}

.input {
  width: 672px;
  height: 32px;
  margin: 0 0 16px 0;
  padding: 12px 16px;
  border: 1px solid #D8D8DB;
  border-radius: 8px;
}

.input-entered {
  border: 1px solid $primary-color;
}

.submit {
  display: flex;
  width: 256px;
  height: 58px;
  color: #FFFFFF;
  background-color: $primary-color;
  margin: 24px auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0;
  border: none;

}

//footer
footer {
  height: 192px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.footer-container{
  width: 500px;
  justify-content: center;
  position: absolute;
  margin-top: 30px;
}

footer p {
  @include InterFont(14px, 400);
  color: #666666;
  line-height: 150%;
  padding: 0;
  margin: 24px 0 0 0;
}


.comp-message {
  background-color: $primary-color;
  width: 254px;
  height: 48px;
  margin-left: 123px;
  position: relative;
  border-radius: 8px;
  filter: drop-shadow(0 4px $secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150px);
}
//送信完了時のアニメーション
@keyframes fadeInOut {
  0% {
    transform: translateY(100px);
  }
  20% {
    transform: translateY(-60px);
  }
  80% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(100px);
  }
}
.show{
  animation: fadeInOut 3000ms ease-out forwards;
}

.comp-message svg {
  position: absolute;
  top: 12px;
  left: 16px;
}
.comp-message span {
  color: #FFFFFF;
  font-size: 13px;
  position: absolute;
  top: 14px;
  left: 50px;

}

// エラーメッセージ
.err {
  font-size: 12px;
  color: #EC0000;
  letter-spacing: 2%;
  line-height: 170%;
}
